backoff==2.2.1
matplotlib==3.9.1
numpy==2.0.1
openai==1.37.0
prettyprint==0.1.5
pyyaml==6.0.1
tiktoken==0.7.0
tqdm==4.66.4
pandas==2.2.2
adjustText==1.2.0
emoji==2.12.1
seaborn==0.13.2
nltk==3.9.1
fireworks-ai==0.15.0